In [1]:
import pandas as pd
import pandas_profiling

%load_ext google.cloud.bigquery

In [2]:
from google.cloud import bigquery

client = bigquery.Client(project='home-credit-2-290621')

/home/danielshinoda02/anaconda3/lib/python3.8/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [3]:
sql = """
SELECT * FROM home-credit-2-290621.tabelas_manipuladas.modelling_database_1
"""
df = client.query(sql).to_dataframe()
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,delinquency_6_mths_working_capital_bureau,delinquency_6_12_mths_working_capital_bureau,delinquency_12_24_mths_working_capital_bureau,delinquency_24_36_mths_working_capital_bureau,delinquency_long_working_capital_bureau,delinquency_6_mths_microloan_bureau,delinquency_6_12_mths_microloan_bureau,delinquency_12_24_mths_microloan_bureau,delinquency_24_36_mths_microloan_bureau,delinquency_long_microloan_bureau
0,226605,0,Revolving loans,F,N,N,0,180000.0,270000.0,13500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,198289,0,Revolving loans,M,Y,Y,1,468000.0,765000.0,38250.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119805,0,Cash loans,M,Y,Y,1,427500.0,1042560.0,55674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,104932,0,Cash loans,F,Y,Y,0,117000.0,657000.0,23728.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,383641,0,Cash loans,F,N,Y,0,157500.0,486265.5,32517.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

profile = df.profile_report(title='HOME CREDIT Profiling Report',minimal=True)

In [8]:
profile.to_file("Home_Credit_profiling_minimal.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=274.0, style=ProgressStyle(descriâ€¦

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(â€¦

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wiâ€¦

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(descâ€¦

In [ ]:
profile = df.profile_report(title='HOME CREDIT Profiling Report')
profile.to_file("Home_Credit_profiling_minimal.html")